DEBUG=true
ENV=dev
ROOT_DIR=/home/user/content_engine/tts_service   # local; no container use /app

# Provider: "edge" | "elevenlabs"
TTS_PROVIDER=edge

# edge-tts: voice name (pt-BR-FranciscaNeural | pt-BR-AntonioNeural | pt-BR-ThalitaNeural)
TTS_VOICE=pt-BR-ThalitaNeural

# ElevenLabs (futuro)
# ELEVENLABS_API_KEY=
# ELEVENLABS_VOICE_ID=

MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
